{% block media_widget %}
    {% if form.vars.value is not empty %}
        <div class="row">
            {% if form.vars.value.metadata.extension in ['jpg', 'jpeg', 'png', 'gif'] %}
                <div class="col-xs-3">
                    <div class="img-thumbnail">
                        <img src="{{ media(form.vars.value) }}" class="img-responsive" />
                    </div>
                </div>
                <div class="col-xs-9">
                {% else %}
                    <div class="col-xs-12">
                    {% endif %}
                    <p class="form-control-static">
                        <a href="{{ media(form.vars.value) }}" title="{{ form.vars.value.metadata.filename }}" target="_blank">
                            {{ form.vars.value.metadata.filename }}
                        </a>
                    </p>
                    {{ form_widget(form.children.file) }}
                    {% if form.children.fileRemove is defined %}
                        {{ form_widget(form.children.fileRemove) }}
                    {% endif %}
                </div>
            </div>
        {% else %}
            {{ form_widget(form.children.file) }}
        {% endif %}
    {% endblock media_widget %}

    {% block media_collection_widget %}
        {% if prototype is defined %}
            {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            {% if form.parent is empty %}
                {{ form_errors(form) }}
            {% endif %}
            {% for child in form.children %}
                <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
                    <div class="col-xs-12">
                        {% for item in child %}
                            {{- form_widget(item) -}}
                            {{- form_errors(item) -}}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="clearfix">
            <a href="javascript: void(0);" class="btn btn-primary add-collection-widget pull-right" data-target="#{{ form.vars.id}}">
                {{ "media.form.button.new" | trans({}, 'MediaBundle')}}
            </a>
        </div>
    {% endblock media_collection_widget %}
